<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Expense Tracker</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div>
            <h1>Expense Tracker</h1>

            <!-- Form -->
            <form action="/add-expense" method="POST">
                <label>Amount</label>
                <input type="number" name="amount" required>

                <label>Category</label>
                <select name="category" required>
                    <option value="">Select a category</option>
                    <option value="Food">Food</option>
                    <option value="Rent">Rent</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="Transport">Transportation</option>
                </select>

                <label>Date</label>
                <input type="date" name="date" required>

                <button type="submit">Submit Expenses</button>
            </form>
        </div>
        
    </body>
</html>