body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
    padding: 20px;
}

.container {
    background: white;
    max-width: 600px;
    margin: auto;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.container h1 {
    margin: 0px 0px 20px 0px;
    display: block;
    font-weight: bold;
    font-size: 24px;
}
.expenseform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expenseform label {
    display: block;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: left;
    width: 300px;
    color: #8c8c8c;
}

.expenseform form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 300px;
}

.expenseform label {
    display: block;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: left;
    width: 100%;
}

.expenseform input,
.expenseform select,
.expenseform button {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.expenseform button {
    background-color: #303030;
    color: white;
    border: none;
    cursor: pointer;
    width: 300px;
}

.expenseform button:hover {
    background-color: #454545;
    transform: scale(1.05);
}



.recent-button,
.month-button {
    background-color: #303030; 
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
}

.recent-button:hover,
.month-button:hover {
    background-color: #454545;
    transform: scale(1.05); 
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-top: 15px;
}

#customMonth {
    appearance: none; 
    background-color: #303030; 
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    width: auto;
}

#customMonth:hover {
    background-color: #303030;
    transform: scale(1.05);
}

#customMonth::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

.transactionsList{
    background: white;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    font-family: "Courier New", Courier, monospace;
    border: 2px dashed #ccc;
    text-align: left;
}

#transactionsList li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #ccc; 
    padding: 5px 0;
    font-size: 14px;
}

#transactionsList .receipt-date {
    flex: 1;
    text-align: left;
}

#transactionsList .receipt-category {
    flex: 1;
    text-align: center;
    font-weight: bold;
}

#transactionsList .receipt-amount {
    flex: 1;
    text-align: right;
    font-weight: bold;
}


.budget-container {
    background: white;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    font-family: "Courier New", Courier, monospace; 
    border: 2px dashed #ccc;
    text-align: left;
}

.budget-container h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.budget-container p {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding: 5px 0;
    border-bottom: 1px dotted #ccc; 
}

.budget-container p:last-child {
    border-bottom: none;
}


#totalIncome {
    color: green;
}

#totalExpenses {
    color: red;
}

#balance {
    font-weight: bold;
    color: #454545
 }

#budgetMessage {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
}
